@model YogaMockUp.Models.Course


@{
    ViewData["Title"] = "Create course";
    Layout = "~/Views/Admin/_AdminLayout.cshtml";
};

<div class="container-fluid px-4">
    <br />
<h1>Create course</h1>

<hr />
        <div class="row col-12">
            <form asp-action="CreateCourse">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CourseName" class="control-label"></label>
                    <input asp-for="CourseName" class="form-control" />
                    <span asp-validation-for="CourseName" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Description" class="control-label"></label>

                    <textarea input asp-for="Description" class="form-control" rows="10" ></textarea>
                    @*<textarea id="TextAreaCourseDescription" style="width:100%" rows="5" onkeyup="JSFN_UserChangesDescription()">@Model.Description</textarea>
                    <input id="sendbackDesc" type="hidden" asp-for="Description" value="" />*@

                    <textarea input asp-for="Description" class="form-control" rows="10"></textarea>

                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Location" class="control-label"></label>
                    <input asp-for="Location" class="form-control" />
                    <span asp-validation-for="Location" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-action="GetAllCourses" class="btn btn-secondary">Cancel</a>
                </div>
            </form>
        </div>
    </div>
    <br />
    <br />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     
}
