	@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
	*@
	@{
	}
	

	<br />
	<h1 style="text-align: center; color:purple">The way of Life<br />Ayurveda</h1>
	<br />
				
@*	<div class="et_pb_text_inner"><h2 style="text-align: center;">About Ayurveda</h2></div>*@
	<div class="content6 yogainfo" style="width:500px; margin:0 auto; text-align:center; width:70%">			
		<div class="yogainfo et_pb_text_inner yogainfo">Ayurveda originated in India more than 5,000 years ago and is the oldest continuously practiced health-care system in the world. Drawn from an understanding of nature’s rhythms and laws, Ayurveda is built around the five elements of ether, air, fire, water, and earth.<p></p>
			<p>It is understood in Ayurveda that humans, as natural beings, are governed by the same rules and laws as all other natural beings. If we choose to ignore these laws, then imbalances will begin to appear. These imbalances are the precursor to disharmony and disease in the mind and body. This system of medicine understands our deepest connections with the whole universe and the influences of the energies that make up this universe. We are considered a microcosm of the macrocosm.</p>
			<p>An Ayurvedic approach treats each individual, taking into account his/her own unique psychological, emotional, and physical conditions. Imbalances in the body are evaluated through the system of the elements. Because our world and bodies are constantly adjusting to new environments, when these environments become imbalanced we feel it in some way.</p>
			<p>The goal of Ayurveda is to teach people how to attain optimal health through a deeper understanding of themselves and their own particular nature in relationship to the world around them. It is a system based on natural healing through strengthening the body, mind, and spirit and allowing the body’s own natural healing mechanisms to work to their fullest potential.</p></div>
			<br />
		</div>

		<div class="" style="width:500px; margin:0 auto;">
			<h1 style="color:purple; text-align: center;">Ayurvedic Doshas</h1>
			<div class="content6 yogainfo" style="text-align:center;"><h5>Tridosha</h5><br />Doshas are defined as energetic principles that govern physiological functions of the body. There are three Doshas: Vata, Pitta, Kapha. Health exists when there is a balance between these three fundamental body doshas.</div>
		</div>



		<div id="the6poses">
			<div class="row">
				<div class="col-3 content6">
					<img class="content6img" src="/images/AboutYoga/Pr.Ex_.gif" />
					<p>Proper exercise or Asanas rejuvenate the whole body. They work primarily on the spine and central nervous system The spine gains in strength and flexibility, and circulation is stimulated, bringing nutrients and oxygen to all the cells of the body. Asanas increase motion in the joints and flexibility in muscles, tendons, and ligaments. They massage internal organs, boosting their function.</p>
				</div>
				<div class="col-5 content6" style="margin-top:250px;">
					<img class="content6img" src="/images/AboutYoga/product-image-379914805_1200x.jpg" />
				</div>
				<div class="col-3 content6">
				<img class="content6img" src="/images/AboutYoga/pr.re_.gif">
					<p>PROPER RELAXATION <br />Deep relaxation works on three levels – physical, mental, and spirtual -and is the most natural way to re-energize body and mind. Regular relaxation acts like a car’s cooling system. keeping the engine from overheating and ensuring the vehicle functions efficiently. During the deep relaxation at the end of a yoga session, the body uses only enough prana to maintain vital metabolic activities. The rest of the energy gained during practice is stored. Deep relaxation relieves the body of existing stress symptoms (including muscle tension and breathlessness) and also helps develop resistance against external stress factors. Once the body and mind are freed from constant overload they are at ease and perform more efficiently.</p>
				</div>
			</div>	
			
			<div class="row">
				<div class="col-3 content6">
					<img class="content6img" src="/images/AboutYoga/Pr.br_.gif" />
					<p>PROPER BREATHING <br />Pranayama stimulates the energy reserves of the solar plexus, revitalizing body and mind. Regulating the breath helps to store prana the vital life force, laying down reserves of strength and vitality. Deep, conscious breathing helps to conquer depression and stress, and controlling prana-by controlling the breath – can relieve symptoms of illness in a similar way to acupuncture.</p>
				</div>
				<div class="col-3 content6" style="margin-top:150px;">
					<img class="content6img" src="/images/AboutYoga/po.tm_.gif" />
					<p>POSITIVE THINKING AND MEDITATION <br />Positive thinking and meditation are the yogic keys to peace of mind. Meditation techniques calm the mind and enhance focus. Regular meditation promotes physical and spiritual, as well as mental, well-being. Before meditation, yoga practitioners clear the mind of negative thoughts and feelings, using concentration and positive-thinking exercises.</p>
				</div>
				<div class="col-3 content6">
					<img class="content6img" src="/images/AboutYoga/pr.di_.gif" />
					<p>PROPER DIET<br />The yogic attitude to food is Eat to live, not live to eat. Yogis choose foods with a positive effect on body and mind, and least negative effects on the environment and other creatures. Fresh and unrefined foods are thought best, prepared simply, to preserve maximum nutrients. It is natural, simple to prepare, easy to digest and absorb.</p>
				</div>				
			</div>	
		</div>

		<style>
			.yogainfo{
				font-size:20px;
			}
			.content6{
				border-radius:10px;
				padding:10px;
				margin:auto;	
				background-color:rgba(0, 50, 50, 0.3);
			}
			#the6poses{
				margin:0 300px;
			}
			.content6img{
				border-radius:20px;
				width:100%;
			}

	</style>