@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="entry-content">
					<div class="et-l et-l--post">
			<div class="et_builder_inner_content et_pb_gutters3">
		<div class="et_pb_section et_pb_section_0 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h1 style="text-align: center;">Ayurveda</h1>
<h1 style="text-align: center;">the way of Life</h1></div>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_1 et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h2 style="text-align: center;">About Ayurveda</h2></div>
			</div><div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner">Ayurveda originated in India more than 5,000 years ago and is the oldest continuously practiced health-care system in the world. Drawn from an understanding of nature’s rhythms and laws, Ayurveda is built around the five elements of ether, air, fire, water, and earth.<p></p>
<p>It is understood in Ayurveda that humans, as natural beings, are governed by the same rules and laws as all other natural beings. If we choose to ignore these laws, then imbalances will begin to appear. These imbalances are the precursor to disharmony and disease in the mind and body. This system of medicine understands our deepest connections with the whole universe and the influences of the energies that make up this universe. We are considered a microcosm of the macrocosm.</p>
<p>An Ayurvedic approach treats each individual, taking into account his/her own unique psychological, emotional, and physical conditions. Imbalances in the body are evaluated through the system of the elements. Because our world and bodies are constantly adjusting to new environments, when these environments become imbalanced we feel it in some way.</p>
<p>The goal of Ayurveda is to teach people how to attain optimal health through a deeper understanding of themselves and their own particular nature in relationship to the world around them. It is a system based on natural healing through strengthening the body, mind, and spirit and allowing the body’s own natural healing mechanisms to work to their fullest potential.</p></div>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_2 et_pb_section_parallax et_pb_with_background et_pb_fullwidth_section et_section_regular">
				
				<div class="et_parallax_bg_wrap"><div class="et_parallax_bg" style="background-image: url(&quot;https://yogashastra.org/wp-content/uploads/2018/09/pintando-la-luz-699924-unsplash.jpg&quot;); height: 1562.4px; transform: translate(0px, 605.13px);"></div></div>
				
				
					<section class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_hover_enabled et_pb_text_align_center et_pb_bg_layout_dark et_had_animation" style="">
				
				
				<div class="et_pb_fullwidth_header_container center">
					<div class="header-content-container center">
					<div class="header-content">
						
						<h1 class="et_pb_module_header">Ayurvedic Doshas</h1>
						<span class="et_pb_fullwidth_header_subhead">Tridosha</span>
						<div class="et_pb_header_content_wrapper">Doshas are defined as energetic principles that govern physiological functions of the body. There are three Doshas: Vata, Pitta, Kapha. Health exists when there is a balance between these three fundamental body doshas.</div>
						<a class="et_pb_button et_pb_more_button et_pb_button_one" href="#">Learn More</a>
					</div>
				</div>
					
				</div>
				<div class="et_pb_fullwidth_header_overlay"></div>
				<div class="et_pb_fullwidth_header_scroll"></div>
			</section>
				
				
			</div><div class="et_pb_section et_pb_section_3 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_2 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_0  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img loading="lazy" width="650" height="450" src="https://yogashastra.org/wp-content/uploads/2018/09/Abhyangam1.jpg" alt="" srcset="https://yogashastra.org/wp-content/uploads/2018/09/Abhyangam1.jpg 650w, https://yogashastra.org/wp-content/uploads/2018/09/Abhyangam1-300x208.jpg 300w" sizes="(max-width: 650px) 100vw, 650px" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-595 et-animated"></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Ayurvedic massage (Abhyanga)</span></h4>
						<div class="et_pb_blurb_description"><p>Abhyanga is an ancient Indian Ayurvedic oil massage therapy for healing and detoxifying Body, Mind, and Spirit. This ayurvedic detox and stress reduction therapy is performed by herbal oils. It incorporates an aromatic combination of oils prepared with herbs warmed and blended to your Dosha type. Lymphatic stimulation with ayurvedic herbal oils helps squeeze out toxic accumulation from channels.</p>
<p>The highlight of Ayurvedic massages is the oils used – essential to eliminate friction and to spread heat evenly through the body. These oils are medicated to balance dosha energies – sesame, coconut and mustard/olive oils are used to stabilize dominant Vata, Pitta, and Kapha respectively. The purpose of an Ayurvedic massage is to help break down and remove toxins in the body, strengthen muscle tone and assist in the relaxation and rejuvenation of the body. Massages also nourish the body, help sleeping patterns, improve circulation and strengthen the body’s tolerance of diseases.</p>
<p>&nbsp;</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="https://www.bokadirekt.se/places/yoga-shastra-39755">Book now</a>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_1  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img loading="lazy" width="2460" height="1664" src="https://yogashastra.org/wp-content/uploads/2018/09/No.09.jpg" alt="" srcset="https://yogashastra.org/wp-content/uploads/2018/09/No.09.jpg 2460w, https://yogashastra.org/wp-content/uploads/2018/09/No.09-300x203.jpg 300w, https://yogashastra.org/wp-content/uploads/2018/09/No.09-768x519.jpg 768w, https://yogashastra.org/wp-content/uploads/2018/09/No.09-1024x693.jpg 1024w, https://yogashastra.org/wp-content/uploads/2018/09/No.09-1080x731.jpg 1080w" sizes="(max-width: 2460px) 100vw, 2460px" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-602 et-animated"></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Herbal bundle (Kizhi treatment)</span></h4>
						<div class="et_pb_blurb_description"><p>Kizhi is an Ayurvedic treatment in which warm poultices filled with herbal oils, powders or medical concoctions are applied and massaged over the body. The natural healing herbs are crushed and bundled into muslin cloth to form boluses. Warm poultices are used to massage the body (or specific parts), to induce sudation (sweat).</p>
<p>Podikizhi helps in curing ‘Kapha-Vata’ predominant conditions of arthritis, back pain, paralysis, and muscular pains. This treatment is useful for relieving deep seated tension, increasing circulation, loosening built up toxins, strengthening muscle tissue and ridding the body of excess Kapha. It is prescribed for diseases where there is vitiation of kapha, the heaviness of body, extremities, and obesity.</p>
<p class="read-more-wrap">Kizhi promotes relieves stress, and treats osteoarthritis. It has also ministered to those with spondylosis and sports injuries resulting from soft tissue inflammations and joint pains.</p>
<p class="read-more-wrap"></p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_1 et_pb_bg_layout_light" href="https://www.bokadirekt.se/places/yoga-shastra-39755">Book now</a>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_4 et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_3 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_2  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img loading="lazy" width="650" height="482" src="https://yogashastra.org/wp-content/uploads/2018/09/deep.jpg" alt="" srcset="https://yogashastra.org/wp-content/uploads/2018/09/deep.jpg 650w, https://yogashastra.org/wp-content/uploads/2018/09/deep-300x222.jpg 300w" sizes="(max-width: 650px) 100vw, 650px" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-607 et-animated"></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Deep tissue massage</span></h4>
						<div class="et_pb_blurb_description"><p>An intensive treatment that works on neuromuscular tissues, strengthens the nervous system and tones the body. The strong and vigorous massages with deep pressure used in the strokes help the very stressed body and also helps in weight loss. It tones the muscles and helps to get rid off deep-seated toxins.</p>
<p>Due to stress and other factors, the layer of connective tissue that covers and interpenetrates the body’s muscles and bones—the fascia—often tenses up, resulting in muscle knots and a painful buildup of lactic acid. Deep-tissue massage aims to warm up the fascia and release the accumulated toxins. To achieve this, the therapist’s fingers, thumbs, and elbows move along the body in slow, deliberate strokes, applying pressure to penetrate beyond superficial muscle layers. Although the intensity can produce some discomfort, deep-tissue massage should still be relaxing; the goal, after all, is to relieve the tension between muscles and their weird roommate, the skeleton.</p>
<p>&nbsp;</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_2_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_2 et_pb_bg_layout_light" href="https://www.bokadirekt.se/places/yoga-shastra-39755">Book now</a>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_3  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img loading="lazy" width="650" height="434" src="https://yogashastra.org/wp-content/uploads/2018/09/footmassage.jpg" alt="" srcset="https://yogashastra.org/wp-content/uploads/2018/09/footmassage.jpg 650w, https://yogashastra.org/wp-content/uploads/2018/09/footmassage-300x200.jpg 300w" sizes="(max-width: 650px) 100vw, 650px" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-610 et-animated"></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Foot &amp; Leg massage</span></h4>
						<div class="et_pb_blurb_description"><p>The ancient healing traditions of the East, especially the Ayurvedic tradition, place an equal importance on feet. Ayurvedic foot massages use herbal oils with their own individual therapeutic benefits to effectively combine into the movement of energy in the massages. With many nerves from vital organs ending in the feet, foot massages benefit the entire body rendering revitalized energy, enhanced blood and lymph circulation, strengthening and restoring nerves, improving skin and alleviating stress. By stimulating vital points (marma) a balance of ‘doshas’ is achieved, resulting in homeostasis, a state when all the body’s systems are working in harmony with one another to bring about a state of balance. The healing power of Ayurvedic treatments has been scientifically proven by several studies. Research has shown that Ayurvedic foot massages can effectively heal headaches and migraines. &nbsp;</p></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_3_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_3 et_pb_bg_layout_light" href="https://www.bokadirekt.se/places/yoga-shastra-39755">Book now</a>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_5 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_4 et_pb_gutters3">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_4  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img loading="lazy" width="650" height="430" src="https://yogashastra.org/wp-content/uploads/2018/09/indian-Head-Massage-1.jpg" alt="" srcset="https://yogashastra.org/wp-content/uploads/2018/09/indian-Head-Massage-1.jpg 650w, https://yogashastra.org/wp-content/uploads/2018/09/indian-Head-Massage-1-300x198.jpg 300w" sizes="(max-width: 650px) 100vw, 650px" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-613 et-animated"></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Head massage</span></h4>
						<div class="et_pb_blurb_description">Ayurvedic head massage focuses on the shoulders, neck, and head, the areas most vulnerable to stress and tension. The head massage induces a state of calm, peace and tranquility and promotes high levels of alertness and concentration. Head massage can also be used to stimulate hair growth, improve concentration, and relieve migraine pain. Based on Ayurvedic principles and pressure points combined with specific massage techniques, which are applied to the head, neck, shoulders, and back, this extremely relaxing massage eases away tension and&nbsp;<span class="read-more-target">clears energy blockages, whilst chakra rebalancing on the higher chakras heals and restores the body’s natural energy flow resulting in a feeling of balance and rejuvenation physically, mentally and emotionally. Head massage can be the most relaxing treatment and when combined with neck and shoulder treatments.</span></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_4_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_4 et_pb_bg_layout_light" href="https://www.bokadirekt.se/places/yoga-shastra-39755">Book now</a>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_5  et_pb_text_align_left  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img loading="lazy" width="650" height="433" src="https://yogashastra.org/wp-content/uploads/2018/09/neck.jpg" alt="" srcset="https://yogashastra.org/wp-content/uploads/2018/09/neck.jpg 650w, https://yogashastra.org/wp-content/uploads/2018/09/neck-300x200.jpg 300w" sizes="(max-width: 650px) 100vw, 650px" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-614 et-animated"></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Neck, shoulder and back massage</span></h4>
						<div class="et_pb_blurb_description">It is a very effective Ayurvedic oil massage focused on the most problematic parts of body which are back, neck, and shoulders. Warm oil is used to massage “marma points”, node points or the junctures of energy flow in the body. It is not a pressure, but gentle and soothing massage. Massage increases the production of blood corpuscles and antibodies which protect the body from viruses and illnesses. <span class="read-more-target">It vitalizes the body, retards the process of ageing and brings vitality. It improves the function of muscles, softens the complexion and has a favorable effect on the quality of skin. It has been used to keep good health condition, better sleep and longevity for thousands of years.</span></div>
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_5_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_5 et_pb_bg_layout_light" href="https://www.bokadirekt.se/places/yoga-shastra-39755">Book now</a>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_7 et_pb_section_parallax et_pb_with_background et_section_regular">
				
				<div class="et_parallax_bg_wrap"><div class="et_parallax_bg" style="background-image: url(&quot;https://yogashastra.org/wp-content/uploads/2018/11/budha2049.jpg&quot;); height: 1990.6px; transform: translate(0px, -501.495px);"></div></div>
				
				
					<div class="et_pb_row et_pb_row_5">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h1 style="text-align: center;"><span style="color: #ffffff;">Health is Wealth.&nbsp;</span></h1>
<h1 style="text-align: center;"><span style="color: #ffffff;">Peace of mind is Happiness.</span></h1>
<h1 style="text-align: center;"><span style="color: #ffffff;">Yoga Shows the way!</span></h1></div>
			</div>
			</div>
				
				
			</div><div class="et_pb_row et_pb_row_6 et_pb_row_4col">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_6  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img loading="lazy" width="512" height="512" src="https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo.png" alt="" srcset="https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo.png 512w, https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo-150x150.png 150w, https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo-300x300.png 300w, https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo-270x270.png 270w, https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo-192x192.png 192w, https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo-180x180.png 180w, https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo-32x32.png 32w" sizes="(max-width: 512px) 100vw, 512px" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-1769 et-animated"></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Address</span></h4>
						<div class="et_pb_blurb_description"><p>Yoga Shastra</p>
<p>Storgatan 70</p>
<p>Linköping</p></div>
					</div>
				</div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_blurb et_pb_blurb_7  et_pb_text_align_center  et_pb_blurb_position_top et_pb_bg_layout_light">
				
				
				<div class="et_pb_blurb_content">
					<div class="et_pb_main_blurb_image"><span class="et_pb_image_wrap et_pb_only_image_mode_wrap"><img loading="lazy" width="512" height="512" src="https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo.png" alt="" srcset="https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo.png 512w, https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo-150x150.png 150w, https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo-300x300.png 300w, https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo-270x270.png 270w, https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo-192x192.png 192w, https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo-180x180.png 180w, https://yogashastra.org/wp-content/uploads/2018/11/cropped-yoga-logo-32x32.png 32w" sizes="(max-width: 512px) 100vw, 512px" class="et-waypoint et_pb_animation_top et_pb_animation_top_tablet et_pb_animation_top_phone wp-image-1769 et-animated"></span></div>
					<div class="et_pb_blurb_container">
						<h4 class="et_pb_module_header"><span>Email</span></h4>
						
					</div>
				</div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_6_wrapper  et_pb_module ">
				<a class="et_pb_button et_pb_button_6 et_pb_bg_layout_light" href="">Click Here</a>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough et-last-child et_pb_column_empty">
				
				
				
			</div>
				
				
			</div>
				
				
			</div>		</div>
	</div>
						</div>