@{
    ViewData["Title"] = "Current events";
}

<br />
<div class="container col-md-8">
    <div class="row align-items-center g-5">
        <div class="col-md-6" >
            <img src="~/images/Fredrik_Binette.jpg" class="d-block mx-lg-auto img-fluid" alt="Fredrik_Binette" width="296" height="351"/>
        </div>
        <div class="col-md-6">    
            <h1>Sankalpa & Yoga Nidra</h1>
                <h3>En workshop med Fredrik Binette på Yoga Shastra i Linköping!</h3>
                   <h5>Fredag 26 Nov kl 17.30 - 20.00</h5>
                   <a href="@Url.Action("ContactForm", "Contact")" class="btn btn-primary">Ansök här</a>
            </div>
    </div>
</div>
<br />
<div class="container col-md-8">
<hr class="style14">
</div>
<br />
<div class="container col-md-8">
<p>Fredrik kommer att prata om hur vi medvetet kan skapa vårt nya Jag . Han berättar hur vi med Sankalpa kan så ett frö in 
    i vårt undermedvetna som får gro och manifesteras så som det är menat om vi är i tillit.</p>
<p>Sankalpa är ett kraftfullt verktyg som används framförallt inom Yoga Nidra</p>
<p>Ett Sankalpa är som att sätta en intention i en djup innerlig känsla.</p>
<p>Du formar det som ett påstående, det som du nu vill önska in.</p>
<p>Kanske vill du förbereda ett skifte med ett nytt år som kommer – likt ett nyårslöfte.</p>
<p>Om du lyssnar inåt innerligt mot hjärtat så kan du med få insikt över djupare mönster som du kanske känner att det är 
    dags att lämna. Vissa tendenser vi har i livet, vissa mönster som följer oss i livet på olika vis vilket gör att vi 
    hamnar i liknande livssitutioner om & om igen.</p>
</div>
<br />
<div class="container col-md-8">
<p><strong>WORKSHOP</strong></p>
<p>Kallas ibland för ”Awakened Sleep” eller Yogisk Sömn.</p>
<p>Det är en uråldrig teknik som nu börjat växa sig populär i vrt moderna samhälle.</p>
<p>Den är väldigt lugnande, stressreducernade, oro & ångestminskande, den förbättrar sömn-obalanser samt är djupt återhämtande 
    på alla nivåer.</p>
<p>Yoga Nidra är även en Meditativ och fär den som är öppen för det – en spirituell practice.</p>
<p>Fredrik guidar en djup 45-50min Yoga Nidra där vi går igenom våra olika koshas (lager av vår konstitution). Vi kommer att 
    göra visualiseringar samt gå igenom våra chakras med Bija Mantras.</p>
<p>Under Yoga Nidran kommer du att få placera ditt Sankalpa och låta det gå förbi sinnets analys och bedömmande, mer rakt 
    in mot ditt undermedvetna, eller in i quantum fältet.</p>
<p>AUM Shanti!</p>
</div>
<br />
<div class="container col-md-8">
<p><strong>YOGA NIDRA</strong></p>
<p>Vi landar tillsamman med en kort Meditation och lite energigivande breathwork/ pranayama – ”cirkulär andning” med kumbhaka.</p>
<p>Fredrik berättar om Sankalpa och hur du skapar ditt framtida du.</p>
<p>Sen får alla får en stund att skapa sitt Sankalpa, ta med papper & penna!</p>
<p>Yoga Shastra bjuder på te, frukt och lite snacks under denna skapande paus.</p>
<p>Fredrik guidar en kortare meditation genom vissa chakran med fokus på Ditt Sankalpa.</p>
<p>Här får du en möjlighet att känna in att ditt Sankalpa verkligen känns rätt och att t.ex inte Egot klivit in fär mycket.</p>
<p>En 5 minuters kort stund om man behöver justera sitt Sankalpa, sträcka på benen innan kvällens Yoga Nidra.</p>
</div>
<br />
<div class="container col-md-8">
<p><strong>VEM KAN DELTA?</strong></p>
<p>Alla kan delta! Du som är helt ny, du som är van, du som är nyfiken på det meditativa, du som vill förändra din framtid, 
    du som behöver återhämtning mentalt, fysiskt eller emotionellt.</p>
<p>Så länge du kan ligga på rygg.</p>
<p>Pris: 550 SEK</p>
<p>Plats: Yoga Shastra</p>
<p>Storgatan 70, Linköping</p>
<a href="@Url.Action("ContactForm", "Contact")" class="btn btn-primary">Ansök här</a>
</div>
