@{
    ViewData["Title"] = "Studentcourse";
}

<style>
#Teaching{
    position:center;
    width: 1080px;
}
</style>

<div>
    <div id="part1">
        <div class="container">
            <div class="row">
                <p id="Teaching">
                    <h1>Our teaching</h1>
                    Our aim is to give each student a clear and proper knowledge of yoga so that you can establish a daily practice in order to improve your physical and mental well-being. We do not focus on the number of Asanas that we practice but to practice each asana in the correct way with inner awareness.
                    As teachers of the ancient knowledge of yoga, we are honored to share the knowledge we have received from our teachers and through our own yoga practice. We feel very blessed of being able to help, inspire and guide our students on the path of yoga towards a happier, healthier and more peaceful life.
                    We always try to give each student in a class individual attention. It can be a gentle correction in a posture or a verbal instruction.
                </p>
                
            </div>
        </div>
    </div>

    <div id="part2">
        <div class="align-baseline">
            <div class="row">
                <p id="Yogacourses">
                    <h1>Yoga courses 2022</h1>
                    The classes are held at Yoga Shastra, Storgatan 70, 582 28 Linköping ( the studio is just opposite of Borggården in the city centre)
                    The spring yoga courses are starting from 2nd of February
                    Yoga is for everyone. There for we offer part – or full scholarships for our yoga courses and we can consider part scholarship for our teacher training courses. 
                    Please contact us by email if you have financial difficulties but a strong wish to learn yoga.
                    We accept Wellnet, Epassi/ Actiway payments

                    For any questions or course registration please send email info@yogashastra.org
                </p>
            </div>
        </div>
    </div>
</div>