<div id="ttctitle">
    <h1>Hatha Yoga Teacher's Training Course with Basic Principles of Ayurveda</h1>
    <h3>Yogalärarutbildning i Linköping</h3>
    <img src="~/images/TTC-AYURVEDA-NY.jpg" />

    <p id="ttcptitle">ARE YOU LONGING TO TAKE YOUR YOGA PRACTICE TO A DEEPER LEVEL, AND TO EXPERIENCE A NEW OUTLOOK ON LIFE BASED ON YOGA AND AYURVEDA?

WOULD YOU LIKE TO INCREASE YOUR UNDERSTANDING OF YOUR BODY, MIND AND EMOTIONS, AND OPEN UP TO THE LIMITLESS WISDOM OF LIFE WITHIN YOU?

ARE YOU COMMITTED TO AIMING FOR MORE PHYSICAL, MENTAL AND SPIRITUAL STRENGTH SO THAT YOU CAN SHARE WHAT YOU HAVE LEARNED WITH OTHERS?</p>

<p id="ttcptitle">On March 3rd we are starting our next Hatha Yoga Teacher’s training in Linköping, Sweden.

It will be a 200hrs course according to international standard. This Yoga teacher training focusing on classical Hatha Yoga which includes the whole aspect of yoga with Asana, Pranayama, Meditation, Mantra, Yoga Vedanta Philosophy. In this course you will also learn the basics of Ayurveda which is closely related to yogic life style.

You will be guided by three experienced teachers, Rajesh Dayakar, Fredrik Binette, Datta Prasad and Ayurvedic Doctor Vishnu.
We follow the authentic teachings formed with our own long time experiences to give you interesting and inspiring teacher training.

This course is divided into four weekends and it will be held in central Linköping, Sweden. In the end of  February you will be certified and ready to start a new face of your life. You will then be able to in your own way inspire to teach and to guide others in the world of yoga.</p>
</div>

<div id="whoshouldjoin">
    <h3>WHO SHOULD DO THIS TEACHER TRAINING COURSE?</h3>
    <p>If you are looking to teach Yoga this course is a unique opportunity for self-empowerment and transformation. If you aren’t looking to teach, it is equally a profound source of rejuvenation and inspiration that will change your everyday life and practice.

Every student will leave this course with the confidence and skills to teach Yoga to yourself and others.</p>
</div>

<div id="testimonials" class="container">
    <div class="row">
        <div class="col">
            <div class="card" style="width: 28rem;">
              <img src="/images/carl.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">TTC review</h5>
                <p class="card-text">I really enjoyed the Teacher Training Course at Yoga Shastra! To be able to have the top teachers from of both Sweden and India incorporated in the program made the hole course very interesting and rewarding. Also Rajesh is one of the most genuine and compassionate teachers I have ever practiced with. I highly recommend this course!</p>
                <p class="card-text">Carl<br />
                                    YTTC 2021 Linköping, Sweden</p>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 28rem;">
              <img src="/images/ida-resize.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">TTC review</h5>
                <p class="card-text">Attending your Hatha Yoga Teacher Training course in Norway 2020 turned out to be so much more than I had imagined. Inspiring, fun and superscilled teachers, full of knowledge. Always welcoming and meeting us students at our individual level. Forever thankful. Ida.</p>
                <p class="card-text">Ida<br />
                                    YTTC 2020 Tønsberg, Norway</p>
              </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width: 28rem;">
              <img src="/images/kristina-resized.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">TTC review</h5>
                <p class="card-text">Jag gick denna utbildning i våras, rekommenderar den varmt! Jag fick bra verktyg att jobba vidare med, blev mera medveten om hur lite jag vet om yoga, att min resa för att bli en bättre lärare och medmänniska precis har börjat.
Upplägget passade mig perfekt, jag hade tid att låta det som jag hade lärt mig smälta in, det fanns tid för reflektion mellan gångerna.
Tack Rajesh 🙏 och alla andra som var med i våras💜</p>
                <p class="card-text">Kristina<br />
                                    YTTC 2021 Linköping, Sweden</p>
              </div>
            </div>
        </div>
    </div>
</div>

<div id="coursepreplogo">
    <img src="/logo/yoga-04.png" /><!--BLOCK -->
</div>


<div id="courseprep" class="row">
     
  <div class="col-sm-4">
    <div class="card AYcard">
      <div class="card-body AYcardBody">
        <h5 class="card-title">Who can join this course?</h5>
        <p class="card-text">The training is designed for anyone – from complete beginner to longtime student on the path of Yoga – who wishes to deepen their knowledge and practice.

This course is a deep immersion into all aspects of Yoga both for those who feel called to teach and those who simply want to advance their own studies..</p>

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card AYcard">
      <div class="card-body AYcardBody">
        <h5 class="card-title">Yoga teachers from any tradition</h5>
        <p class="card-text">The training is also open to Yoga instructors who have already completed a yoga teacher training programme and who look to deepen their knowledge and bring new impulses and inspiration to their own practice and teaching.</p>

      </div>
    </div>
  </div>
   <div class="col-sm-4">
    <div class="card AYcard">
      <div class="card-body AYcardBody">
        <h5 class="card-title">What makes this course unique</h5>
        <p class="card-text">Our Hatha Yoga Teacher training course provides you with an intensive, small-group learning environment. We will give you individual support and guidance for your practice and teaching skills.</p>

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card AYcard">
      <div class="card-body AYcardBody">
        <h5 class="card-title">Authentic teachings</h5>
        <p class="card-text">The program honours the traditional Yogic knowledge system as it has been passed down to us via a lineage of thousands of years. Our focus is on applying the ancient practices in modern-day life while maintaining the integrity of the teachings.</p>

      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card AYcard">
      <div class="card-body AYcardBody">
        <h5 class="card-title">Ayurveda</h5>
        <p class="card-text">Dr Vishnu will teach the Basic Principles of Ayurveda through online. During the classes, you will learn:

Introduction to Ayurveda, The Five Elements (Panchamahabhoota Theory) & Connected Body Functions, The 3 GunasThe 3 Doshas (Vata, Pitta, Kapha) Ayurvedic Diet & LifestyleThe importance of Digestion, Digestive Fire (Agni) & Metabolic Toxins (Ama)
We offer a free Ayurvedic consultation to know your Dhoshas.</p>

      </div>
    </div>
  </div>
   <div class="col-sm-4">
    <div class="card AYcard">
      <div class="card-body AYcardBody">
        <h5 class="card-title">Modern approach</h5>
        <p class="card-text">We explore connections between the Yogic science and modern scientific findings to give you the theoretical, practical as well as the spiritual foundation to teach Yoga to anyone in all its aspects.</p>

      </div>
    </div>
  </div>
</div>


