<div class="et_builder_inner_content et_pb_gutters3">
		<div class="et_pb_section et_pb_section_0 et_pb_fullwidth_section et_section_regular">
				
				
				
				
					<section class="et_pb_module et_pb_fullwidth_header et_pb_fullwidth_header_0 et_pb_text_align_left et_pb_bg_layout_dark">
				
				
				<div class="et_pb_fullwidth_header_container left">
					<div class="header-content-container center">
					<div class="header-content">
						
						<h2 class="et_pb_module_header">Hatha Yoga Teacher's Training Course with Basic Principles of Ayurveda</h2>
						<span class="et_pb_fullwidth_header_subhead">Yogalärarutbildning i Linköping</span>
						<div class="et_pb_header_content_wrapper"></div>
						
					</div>
				</div>
					
				</div>
				<div class="et_pb_fullwidth_header_overlay"></div>
				<div class="et_pb_fullwidth_header_scroll"></div>
			</section>
				
				
			</div><div class="et_pb_section et_pb_section_1 et_pb_with_background et_section_regular">
				
				
				
				
					
				
				
			</div><div class="et_pb_section et_pb_section_2 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_0">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><p>Are you longing to take your yoga practice to a deeper level, and to experience a new outlook on life based on Yoga and Ayurveda?</p>
<p>Would you like to increase your understanding of your body, mind and emotions, and open up to the limitless wisdom of life within you?</p>
<p>Are you committed to aiming for more physical, mental and spiritual strength so that you can share what you have learned with others?</p></div>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_3 et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_1">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_1  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><p><span>On March 3rd we are starting our next Hatha Yoga Teacher’s training in Linköping, Sweden.</span></p>
<p><span>It will be a 200hrs course according to international standard.&nbsp;This Yoga teacher training focusing on classical Hatha Yoga which includes the whole aspect of yoga with Asana, Pranayama, Meditation, Mantra, Yoga Vedanta Philosophy. In this course you will also learn the basics of Ayurveda which is closely related to yogic life style.</span></p>
<p><span>You will be guided by three experienced teachers, Rajesh Dayakar, Fredrik Binette, Datta Prasad and Ayurvedic Doctor Vishnu.</span><br><span>We follow the authentic teachings formed with our own long time experiences to give you interesting and inspiring teacher training.</span></p>
<p><span>This course is divided into four weekends and it will be held in central Linköping, Sweden. In the end of &nbsp;February you will be certified and ready to start a new face of your life. You will then be able to in your own way inspire to teach and to guide others in the world of yoga.</span></p></div>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_4 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_2">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_2  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_2  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h3>Who should do this Teacher training course?</h3>
<p>If you are looking to teach Yoga this course is a unique opportunity for self-empowerment and transformation. If you aren’t looking to teach, it is equally a profound source of rejuvenation and inspiration that will change your everyday life and practice.</p>
<p>Every student will leave this course with the confidence and skills to teach Yoga to yourself and others.</p></div>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_5 et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_3">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_3  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_3  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h2>Testimonial</h2></div>
			</div><div class="et_pb_with_border et_pb_module et_pb_testimonial et_pb_testimonial_0 clearfix  et_pb_text_align_left et_pb_bg_layout_light et_pb_testimonial_no_image">
				
				
				<div style="background-image: url(&quot;https://yogashastra.org/wp-content/uploads/2021/10/IMG_9131-copy.png&quot;); padding-bottom: 0px; width: 90px; height: 90px;" class="et_pb_testimonial_portrait"></div>
				<div class="et_pb_testimonial_description" style="margin-left: 122.133px;">
					<div class="et_pb_testimonial_description_inner"><div class="et_pb_testimonial_content"><p>TTC review</p>
<p>I really enjoyed the Teacher Training Course at Yoga Shastra! To be able to have the top teachers from of both Sweden and India incorporated in the program made the hole course very interesting and rewarding. Also Rajesh is one of the most genuine and compassionate teachers I have ever practiced with. I highly recommend this course!</p></div></div>
					<span class="et_pb_testimonial_author">Carl</span>
					<p class="et_pb_testimonial_meta"><span class="et_pb_testimonial_position">YTTC 2021 Linköping, Sweden</span></p>
				</div>
			</div><div class="et_pb_with_border et_pb_module et_pb_testimonial et_pb_testimonial_1 clearfix  et_pb_text_align_left et_pb_bg_layout_light et_pb_testimonial_no_image">
				
				
				<div style="background-image: url(&quot;https://yogashastra.org/wp-content/uploads/2021/11/IMG_1625-2.jpg&quot;); padding-bottom: 0px; width: 90px; height: 90px;" class="et_pb_testimonial_portrait"></div>
				<div class="et_pb_testimonial_description" style="margin-left: 122.133px;">
					<div class="et_pb_testimonial_description_inner"><div class="et_pb_testimonial_content"><p>TTC review</p>
<p>Attending your Hatha Yoga Teacher Training course in Norway 2020 turned out to be so much more than I had imagined. Inspiring, fun and superscilled teachers, full of knowledge. Always welcoming and meeting us students at our individual level. Forever thankful. Ida.</p></div></div>
					<span class="et_pb_testimonial_author">Ida</span>
					<p class="et_pb_testimonial_meta"><span class="et_pb_testimonial_position">YTTC 2020 Tønsberg, Norway</span></p>
				</div>
			</div><div class="et_pb_with_border et_pb_module et_pb_testimonial et_pb_testimonial_2 clearfix  et_pb_text_align_left et_pb_bg_layout_light et_pb_testimonial_no_image">
				
				
				<div style="background-image: url(&quot;https://yogashastra.org/wp-content/uploads/2021/11/IMG_1626.jpg&quot;); padding-bottom: 0px; width: 90px; height: 90px;" class="et_pb_testimonial_portrait"></div>
				<div class="et_pb_testimonial_description" style="margin-left: 122.133px;">
					<div class="et_pb_testimonial_description_inner"><div class="et_pb_testimonial_content"><p>TTC review</p>
<p>Jag gick denna utbildning i våras, rekommenderar den varmt! Jag fick bra verktyg att jobba vidare med, blev mera medveten om hur lite jag vet om yoga, att min resa för att bli en bättre lärare och medmänniska precis har börjat.<br>Upplägget passade mig perfekt, jag hade tid att låta det som jag hade lärt mig smälta in, det fanns tid för reflektion mellan gångerna.<br>Tack Rajesh 🙏 och alla andra som var med i våras💜</p></div></div>
					<span class="et_pb_testimonial_author">Kristina </span>
					<p class="et_pb_testimonial_meta"><span class="et_pb_testimonial_position">YTTC 2021 Linköping, Sweden</span></p>
				</div>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_6 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_4 et_pb_row_1-4_3-4">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_4  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_0">
				
				
				<span class="et_pb_image_wrap "><img loading="lazy" width="81" height="81" src="https://yogashastra.org/wp-content/uploads/2018/09/yoga-04.png" alt="" title="yoga-04" class="wp-image-5873"></span>
			</div>
			</div><div class="et_pb_column et_pb_column_3_4 et_pb_column_5  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_4  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h4>Who can join this course?</h4>
<p>The training is designed for anyone – from complete beginner to longtime student on the path of Yoga – who wishes to deepen their knowledge and practice.</p>
<p>This course is a deep immersion into all aspects of Yoga both for those who feel called to teach and those who simply want to advance their own studies.</p></div>
			</div>
			</div>
				
				
			</div><div class="et_pb_row et_pb_row_5 et_pb_row_1-4_3-4">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_6  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_1">
				
				
				<span class="et_pb_image_wrap "><img loading="lazy" width="81" height="81" src="https://yogashastra.org/wp-content/uploads/2018/09/yoga-04.png" alt="" title="yoga-04" class="wp-image-5873"></span>
			</div>
			</div><div class="et_pb_column et_pb_column_3_4 et_pb_column_7  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_5  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h4><span>Yoga teachers from any tradition</span></h4>
<p>The training<span>&nbsp;is also open to Yoga instructors who have already completed a yoga teacher training programme and who look to deepen their knowledge and bring new impulses and inspiration to their own practice and teaching.</span></p></div>
			</div>
			</div>
				
				
			</div><div class="et_pb_row et_pb_row_6 et_pb_row_1-4_3-4">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_8  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_2">
				
				
				<span class="et_pb_image_wrap "><img loading="lazy" width="81" height="81" src="https://yogashastra.org/wp-content/uploads/2018/09/yoga-04.png" alt="" title="yoga-04" class="wp-image-5873"></span>
			</div>
			</div><div class="et_pb_column et_pb_column_3_4 et_pb_column_9  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_6  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h4><span>What makes this course unique</span></h4>
<p><span>Our Hatha Yoga Teacher training course provides you with an intensive, small-group learning environment. We will give you individual support and guidance for your practice and teaching skills.</span></p></div>
			</div>
			</div>
				
				
			</div><div class="et_pb_row et_pb_row_7 et_pb_row_1-4_3-4">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_10  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_3">
				
				
				<span class="et_pb_image_wrap "><img loading="lazy" width="81" height="81" src="https://yogashastra.org/wp-content/uploads/2018/09/yoga-04.png" alt="" title="yoga-04" class="wp-image-5873"></span>
			</div>
			</div><div class="et_pb_column et_pb_column_3_4 et_pb_column_11  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_7  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h4><span>Authentic teachings</span></h4>
<p>The&nbsp;<span>program honours the traditional Yogic knowledge system as it has been passed down to us via a lineage of thousands of years. Our focus is on applying the ancient practices in modern-day life while maintaining the integrity of the teachings.</span></p></div>
			</div>
			</div>
				
				
			</div><div class="et_pb_row et_pb_row_8 et_pb_row_1-4_3-4">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_12  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_4">
				
				
				<span class="et_pb_image_wrap "><img loading="lazy" width="81" height="81" src="https://yogashastra.org/wp-content/uploads/2018/09/yoga-04.png" alt="" title="yoga-04" class="wp-image-5873"></span>
			</div>
			</div><div class="et_pb_column et_pb_column_3_4 et_pb_column_13  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_8  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h4><span>Ayurveda</span></h4>
<p>Dr Vishnu will teach the Basic Principles of Ayurveda through online. During the classes, you will learn:</p>
<ul>
<li>Introduction to Ayurveda, The Five Elements (Panchamahabhoota Theory) &amp; Connected Body Functions, The 3 GunasThe 3 Doshas (Vata, Pitta, Kapha) Ayurvedic Diet &amp; LifestyleThe importance of Digestion, Digestive Fire (Agni) &amp; Metabolic Toxins (Ama)</li>
<li>We offer a free Ayurvedic consultation to know your Dhoshas.</li>
</ul></div>
			</div>
			</div>
				
				
			</div><div class="et_pb_row et_pb_row_9 et_pb_row_1-4_3-4">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_14  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_5">
				
				
				<span class="et_pb_image_wrap "><img loading="lazy" width="81" height="81" src="https://yogashastra.org/wp-content/uploads/2018/09/yoga-04.png" alt="" title="yoga-04" class="wp-image-5873"></span>
			</div>
			</div><div class="et_pb_column et_pb_column_3_4 et_pb_column_15  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_9  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h4><span>Modern approach</span></h4>
<p><span>We explore connections between the Yogic science and modern scientific findings to give you the theoretical, practical as well as the spiritual foundation to teach Yoga to anyone in all its aspects.</span></p></div>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_7 et_hover_enabled et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_10 et_hover_enabled">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_16  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_10  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h2>What to learn</h2></div>
			</div>
			</div>
				
				
			</div><div class="et_pb_row et_pb_row_11 et_hover_enabled">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_17  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_toggle et_pb_toggle_0 et_hover_enabled et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h4 class="et_pb_toggle_title">Introduction to Yoga</h4>
				<div class="et_pb_toggle_content clearfix"><p>The four paths of Yoga (Bhakti yoga, Karma yoga, Raja yoga and Jnana Yoga)</p>
<p>Hatha Yoga</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_1 et_hover_enabled et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h4 class="et_pb_toggle_title">Asana (Yoga poses)</h4>
				<div class="et_pb_toggle_content clearfix"><p>you will study and practice yoga poses in each class as the teachers guide you on how to teach asanas and pranayama.&nbsp;The daily practice with individual corrections includes:</p>
<p>Sun salutation</p>
<p>Yoga postures</p>
<p>Asana variations, from basic level to intermediate</p>
<p>Postural alignment</p>
<p>How to improve concentration techniques while you holding the pose</p>
<p>Deep relaxation with autosuggestion</p>
<p>Facilitate energy flow and remove blocked energy</p>
<p>How to teach</p>
<p>How to teach a yoga class for beginners and the next level.</p>
<p>Pregnancy yoga</p>
<p>Kids Yoga</p>
<p>Yoga for senior citizens</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_2 et_hover_enabled et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h4 class="et_pb_toggle_title">Dhyana (Meditation)</h4>
				<div class="et_pb_toggle_content clearfix"><p>“Dhyanam Nirvishayam manah” The state of the mind wherein there is no Vishayas or sensual thoughts meditation.</p>
<p>Guide to meditation</p>
<p>What is meditation?</p>
<p>Why meditate?</p>
<p>How to meditate</p>
<p>Concentration and thought power</p>
<p>Effects of and experiences in meditation</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_3 et_hover_enabled et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h4 class="et_pb_toggle_title">Yoga &amp; Vedanta Philosophy</h4>
				<div class="et_pb_toggle_content clearfix"><p>In this section, you will be exploring the philosophy and aim of yoga. Look into the deeper dimensions of the mind, body, and spirit through the study of classical yoga text and Vedanta philosophy.</p>
<p>The philosophy classes are considered the main teaching and will benefit you for a long time as the seeds of knowledge are being transmitted.&nbsp; The study of classical yoga texts such as the Patanjali Yoga-sutras, Bhagavad Gita, Vedanta and the writings of our yoga Gurus will also take place to enrich you.</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_4 et_hover_enabled et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h4 class="et_pb_toggle_title">Anatomy and Physiology</h4>
				<div class="et_pb_toggle_content clearfix"><p>Anatomy and Physiology</p>
<p>This study helps you to improve the understanding of your body during your own yoga practice, and to apply it in your teaching practice.</p>
<p>You will learn:</p>
<p>The effects of asanas and pranayama on the cardiovascular, respiration, digestion, skeletal muscular and endocrine systems.</p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_18  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_toggle et_pb_toggle_5 et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h4 class="et_pb_toggle_title">Yogic and Ayurvedic Diet</h4>
				<div class="et_pb_toggle_content clearfix"><p>We are what we eat!&nbsp;Proper nutrition and diet provide proper fuel for the body and the mind without creating toxins and digestive problems. Optimum utilization of food, air, water and sunlight is essential. &nbsp;The Yogic vegetarian diet is sattvic (pure), and helps to calm the mind and to reveal the spirit as well as nourish the body.</p>
<p>Healing effects of fasting.</p>
<p>Yogic and Ayurvedic diet for physical, mental and spiritual health.</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_6 et_hover_enabled et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h4 class="et_pb_toggle_title">Kriyas (yogic cleansing exercise)</h4>
				<div class="et_pb_toggle_content clearfix"><p>You will learn the six classical purification exercises with a more detailed explanation and we do some demonstration as well.</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_7 et_hover_enabled et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h4 class="et_pb_toggle_title">Pranayama (Yogic breathing techniques)</h4>
				<div class="et_pb_toggle_content clearfix"><p>Yogic breathing techniques (pranayama) are devised to further purify the nadis, balance&nbsp;the breath and the energy in our system, and to store and channel the&nbsp;subtle energy (prana) for higher purposes.</p>
<p>You will learn from the very basic breathing techniques to many advance pranayama.</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_8 et_hover_enabled et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h4 class="et_pb_toggle_title">Kirtan</h4>
				<div class="et_pb_toggle_content clearfix"><p>Chanting kirtan is a devotional practice that helps to uplift the mind open the heart and bring inner peace. It is the fastest, easiest and most joyful way to achieve peace of mind.</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_9 et_hover_enabled et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h4 class="et_pb_toggle_title">Mantra</h4>
				<div class="et_pb_toggle_content clearfix"><p>The mantras are mystical universal sounds that resonate with our chakras and remove negative energies.</p>
<p>What is the mantra and how to chant the mantra</p>
<p>&nbsp;</p></div>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_8 et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_13">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_19  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_11  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h3>Our Team</h3></div>
			</div>
			</div>
				
				
			</div><div class="et_pb_row et_pb_row_14 et_pb_gutters2 et_pb_row_4col">
				<div class="et_pb_column et_pb_column_1_4 et_pb_column_20  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_6">
				
				
				<span class="et_pb_image_wrap "><img loading="lazy" width="699" height="699" src="https://yogashastra.org/wp-content/uploads/2020/12/New-Project-3.jpg" alt="" title="New Project-3" srcset="https://yogashastra.org/wp-content/uploads/2020/12/New-Project-3.jpg 699w, https://yogashastra.org/wp-content/uploads/2020/12/New-Project-3-480x480.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 699px, 100vw" class="wp-image-5951"></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_12  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h4>Rajesh Dayakar</h4>
<p>Hatha Yoga Teacher</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_10 et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h5 class="et_pb_toggle_title">Read more</h5>
				<div class="et_pb_toggle_content clearfix"><p><span>Rajesh is a classic Hatha Yoga teacher with more than 13 years of teaching experience. Rajesh has taught many Yoga teacher training courses internationally in India, Bali and Europe. He was born and raised in Kerala, India the land of Yoga and Ayurveda. He has been staying five years to learn yoga and its philosophy at Sivananda yoga ashram in India. Which is the largest Yoga ashram in South India to where thousands of students are coming from all around the world to learn yoga. Rajesh teaches yoga in its purest form according to ancient scriptures of yoga system with Meditation, Pranayama (Yogic breathing techniques) Kriyas and yoga philosophy.</span></p>
<p><span></span></p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_21  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_7">
				
				
				<span class="et_pb_image_wrap "><img loading="lazy" width="699" height="699" src="https://yogashastra.org/wp-content/uploads/2020/12/Fredrik-YogaShastra.jpg" alt="" title="Fredrik YogaShastra" srcset="https://yogashastra.org/wp-content/uploads/2020/12/Fredrik-YogaShastra.jpg 699w, https://yogashastra.org/wp-content/uploads/2020/12/Fredrik-YogaShastra-480x480.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 699px, 100vw" class="wp-image-5947"></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_13  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h4>Fredrik Binette</h4>
<p>Hatha Yoga Teacher</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_11 et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h5 class="et_pb_toggle_title">Read more</h5>
				<div class="et_pb_toggle_content clearfix"><p>The experienced teacher within the world of classical Yoga, Meditation &amp; Yoga Nidra.</p>
<p>He has more than 5500h of teaching experience and has been a lead trainer for several HathaYoga &amp; Meditation teacher training as well as an Ayurveda Yoga THerapy training in India.</p>
<p><span>Fredrik’s background (or education or training) 200h TTC in Singapore with MasterYogi Sivaram. 200h TTC at a Yoga Ashram in Kerala Indien. Advanced TTC at an Ashram n Germany. Meditation training with Swami Saradananda</span></p>
<p><span>Yoga Nidra training (twice) with Chitra Sukhu. Ongoing – deepening within Mantra Meditation.</span></p>
<p><span>Instagram: fredrikbinette</span></p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_22  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_8">
				
				
				<span class="et_pb_image_wrap "><img loading="lazy" width="699" height="699" src="https://yogashastra.org/wp-content/uploads/2020/12/New-Project-2.jpg" alt="" title="New Project-2" srcset="https://yogashastra.org/wp-content/uploads/2020/12/New-Project-2.jpg 699w, https://yogashastra.org/wp-content/uploads/2020/12/New-Project-2-480x480.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) 699px, 100vw" class="wp-image-5949"></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_14  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h4>Dr Vishnu</h4>
<p>Ayurvedic Doctor</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_12 et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h5 class="et_pb_toggle_title">Read more</h5>
				<div class="et_pb_toggle_content clearfix"><p dir="auto"><span>Dr Vishnu&nbsp;</span><span>holds a&nbsp;</span><span>Bachelor</span><span>’s</span><span>&nbsp;of&nbsp;</span><span>Ayurvedic</span><span>&nbsp;</span><span>S</span><span>cie<wbr>nce and Surgery&nbsp;</span><span>from Rajeev Gandhi Unive</span><span>rsity in Bangalore, South India.</span><span>&nbsp;</span><span>H</span><span>e is specialised in the treatment of neurological, rheumatic and bone degenerative diseases.&nbsp;</span><span>A</span><span>fter receiving the bachelor’s</span><span>&nbsp;degree</span><span>, he pursued a M</span><span>aster’s degree in&nbsp;</span><span>Panchakarma</span><span>,&nbsp;</span><span>which is a popular</span><span>&nbsp;</span><span>treatment method in</span><span>&nbsp;Ayurveda</span><span>&nbsp;to&nbsp;</span><span>eliminate&nbsp;</span><span>toxins</span><span>&nbsp;<wbr>from the body due to&nbsp;</span><span>disease,&nbsp;</span><span>food</span><span>&nbsp;and environment</span><span>.</span></p>
<p dir="auto"><span>Currently, h</span><span>e work</span><span>s</span><span>&nbsp;as&nbsp;</span><span>the</span><span>&nbsp;D</span><span>irector of&nbsp;</span><span>the&nbsp;</span><span>Sivananda&nbsp;</span><span>Institute</span><span>&nbsp;of Health</span><span>&nbsp;</span><span>(</span><span>SIH</span><span>)</span><span>&nbsp;at</span><span>&nbsp;</span><span>Sivananda Ashram</span><span>, Neyyardam,&nbsp;</span><span>Kerala</span><span>, India,</span><span>&nbsp;which was established&nbsp;</span><span>in&nbsp;</span><span>1</span><span>985. H</span><span>e examines&nbsp;</span><span>thousands of&nbsp;</span><span>patients every month from all&nbsp;</span><span>around</span><span>&nbsp;the world. As an expert in&nbsp;</span><span>P</span><span>anchakarma</span><span>, he conducts&nbsp;</span><span>P</span><span>anchakarma&nbsp;</span><span></span><span>classes</span><span>&nbsp;<wbr>for over 300&nbsp;</span><span>students</span><span>&nbsp;</span><span>every</span><span>&nbsp;year and also&nbsp;</span><span>conducts</span><span>&nbsp;various&nbsp;</span><span>Ayurvedi<wbr>c</span><span>&nbsp;courses at&nbsp;</span><span>Sivananda</span><span>Ashram</span><span>&nbsp;in</span><span>&nbsp;</span><span>Neyyarda<wbr>m.&nbsp;</span><span>He&nbsp;</span><span>also travels every summer to the Sivananda&nbsp;</span><span>Ashram, Val-Morin, Canada and to</span><span>&nbsp;Japan to conduct</span><span>&nbsp;</span><span>Ayurvedic</span><span>&nbsp;classes and consultation</span><span>s</span><span>.</span></p>
<p><span>His sharp diagnosis and effective treatment methods&nbsp;</span><span>are</span><span>&nbsp;</span><span>making him&nbsp;</span><span>popular</span><span>&nbsp;</span><span>around the world&nbsp;</span><span>and new patients</span><span>&nbsp;</span><span>are&nbsp;</span><span>seek</span><span>ing&nbsp;</span><span>his</span><span>&nbsp;<wbr>health advice and</span><span>&nbsp;guidance every</span><span>&nbsp;</span><span>day.&nbsp;</span><span>If you want to reach Dr&nbsp;</span><span>Vishnu</span><span>,</span><span>&nbsp;please use the following contacts:</span></p>
<p><span>Email: &nbsp;<a target="_blank" rel="noopener noreferrer">dr.vishnu101@gmail.com</a></span></p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_4 et_pb_column_23  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_image et_pb_image_9">
				
				
				<span class="et_pb_image_wrap "><img loading="lazy" width="1129" height="1438" src="https://yogashastra.org/wp-content/uploads/2021/10/0e71cb9a-c2ef-4027-82e7-ff6e0f3efcbd-1.jpg" alt="Datta Prasad" title="0e71cb9a-c2ef-4027-82e7-ff6e0f3efcbd" srcset="https://yogashastra.org/wp-content/uploads/2021/10/0e71cb9a-c2ef-4027-82e7-ff6e0f3efcbd-1.jpg 1129w, https://yogashastra.org/wp-content/uploads/2021/10/0e71cb9a-c2ef-4027-82e7-ff6e0f3efcbd-1-980x1248.jpg 980w, https://yogashastra.org/wp-content/uploads/2021/10/0e71cb9a-c2ef-4027-82e7-ff6e0f3efcbd-1-480x611.jpg 480w" sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px, (min-width: 981px) 1129px, 100vw" class="wp-image-6720"></span>
			</div><div class="et_pb_module et_pb_text et_pb_text_15  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h4>Datta Prasad</h4>
<p>Yoga Therapist</p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_13 et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h5 class="et_pb_toggle_title">Read more</h5>
				<div class="et_pb_toggle_content clearfix"><p>Datta Prasad is a certified Yoga Therapist from a prestigious SVYASA Yoga University, Bangalore with more than a decade of rich and varied experience of working in the field of Yoga with many renowned &amp; reputed organizations. Yoga for him is a Spiritual journey, a lifelong passion &amp; an ever-inspiring vocation. He strongly believes – yoga is a life-transformative art &amp; science with huge capabilities to radically transform individual lives.</p></div>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_9 et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_15 et_pb_gutters1">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_24  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_16  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h2>Photo gallery</h2></div>
			</div><div class="et_pb_with_border et_pb_module et_pb_gallery et_pb_gallery_0  et_pb_bg_layout_light et_pb_gallery_grid">
				<div class="et_pb_gallery_items et_post_gallery clearfix" data-per_page="12"><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_0 first_in_row" style="display: block;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2019/07/Rajesh.jpg" title="Rajesh">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2019/07/Rajesh-400x284.jpg" srcset="https://yogashastra.org/wp-content/uploads/2019/07/Rajesh.jpg 479w, https://yogashastra.org/wp-content/uploads/2019/07/Rajesh-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-3519">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_1" style="display: block;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2018/11/shwanasana-1920.jpg" title="Adhomukhaswanasana">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2018/11/shwanasana-1920-400x284.jpg" srcset="https://yogashastra.org/wp-content/uploads/2018/11/shwanasana-1920.jpg 479w, https://yogashastra.org/wp-content/uploads/2018/11/shwanasana-1920-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-2049">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_2" style="display: block;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2018/11/norway2560.jpg" title="norway2560">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2018/11/norway2560-400x284.jpg" srcset="https://yogashastra.org/wp-content/uploads/2018/11/norway2560.jpg 479w, https://yogashastra.org/wp-content/uploads/2018/11/norway2560-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-2047">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_3 last_in_row" style="display: block;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2018/12/Norwayclass.jpg" title="Norwayclass">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2018/12/Norwayclass-400x284.jpg" alt="Norwayclass" srcset="https://yogashastra.org/wp-content/uploads/2018/12/Norwayclass.jpg 479w, https://yogashastra.org/wp-content/uploads/2018/12/Norwayclass-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-2303">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_4 first_in_row" style="display: block;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2018/11/class.jpg" title="Headstand">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2018/11/class-400x284.jpg" srcset="https://yogashastra.org/wp-content/uploads/2018/11/class.jpg 479w, https://yogashastra.org/wp-content/uploads/2018/11/class-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-1955">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_5" style="display: block;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2020/12/ttc-norge1.jpg" title="Norway YTTC">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2020/12/ttc-norge1-400x284.jpg" srcset="https://yogashastra.org/wp-content/uploads/2020/12/ttc-norge1.jpg 479w, https://yogashastra.org/wp-content/uploads/2020/12/ttc-norge1-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-6079">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_6" style="display: block;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2018/11/IMG_9466.jpg" title="Rajesh">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2018/11/IMG_9466-400x284.jpg" srcset="https://yogashastra.org/wp-content/uploads/2018/11/IMG_9466.jpg 479w, https://yogashastra.org/wp-content/uploads/2018/11/IMG_9466-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-1759">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_7 last_in_row" style="display: block;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2020/12/tonsb.jpg" title="tonsb">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2020/12/tonsb-400x284.jpg" srcset="https://yogashastra.org/wp-content/uploads/2020/12/tonsb.jpg 479w, https://yogashastra.org/wp-content/uploads/2020/12/tonsb-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-6086">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_8 first_in_row on_last_row" style="display: block;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2018/11/Ashramteaching.jpg" title="Ashramteaching">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2018/11/Ashramteaching-400x284.jpg" srcset="https://yogashastra.org/wp-content/uploads/2018/11/Ashramteaching.jpg 479w, https://yogashastra.org/wp-content/uploads/2018/11/Ashramteaching-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-1760">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_9 on_last_row" style="display: block;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2018/09/Scorpion.jpg" title="Scorpion">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2018/09/Scorpion-400x284.jpg" srcset="https://yogashastra.org/wp-content/uploads/2018/09/Scorpion.jpg 479w, https://yogashastra.org/wp-content/uploads/2018/09/Scorpion-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-742">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_10 on_last_row" style="display: block;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2016/06/oc6.jpg" title="Sirsana">
					<img loading="lazy" width="581" height="332" src="https://yogashastra.org/wp-content/uploads/2016/06/oc6.jpg" alt="sirsana" srcset="https://yogashastra.org/wp-content/uploads/2016/06/oc6.jpg 479w, https://yogashastra.org/wp-content/uploads/2016/06/oc6.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-22">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_11 last_in_row on_last_row" style="display: block;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2020/12/YTTCnorway.jpg" title="YTTC Norway 2020">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2020/12/YTTCnorway-400x284.jpg" srcset="https://yogashastra.org/wp-content/uploads/2020/12/YTTCnorway.jpg 479w, https://yogashastra.org/wp-content/uploads/2020/12/YTTCnorway-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-5958">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_12 on_last_row" style="display: none;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2018/09/my.jpg" title="Bali YTTC">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2018/09/my-400x284.jpg" srcset="https://yogashastra.org/wp-content/uploads/2018/09/my.jpg 479w, https://yogashastra.org/wp-content/uploads/2018/09/my-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-635">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_13 on_last_row" style="display: none;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2016/06/kaalipara.jpg" title="kaalipara">
					<img loading="lazy" width="455" height="279" src="https://yogashastra.org/wp-content/uploads/2016/06/kaalipara.jpg" alt="kaalipara" srcset="https://yogashastra.org/wp-content/uploads/2016/06/kaalipara.jpg 479w, https://yogashastra.org/wp-content/uploads/2016/06/kaalipara.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-29">
					<span class="et_overlay"></span>
				</a>
				</div></div><div class="et_pb_gallery_item et_pb_grid_item et_pb_bg_layout_light et_pb_gallery_item_0_14 on_last_row" style="display: none;">
				<div class="et_pb_gallery_image landscape">
					<a href="https://yogashastra.org/wp-content/uploads/2018/09/IMG_9469.jpg" title="yogainashram">
					<img loading="lazy" width="400" height="284" src="https://yogashastra.org/wp-content/uploads/2018/09/IMG_9469-400x284.jpg" alt="yoga in ashram" srcset="https://yogashastra.org/wp-content/uploads/2018/09/IMG_9469.jpg 479w, https://yogashastra.org/wp-content/uploads/2018/09/IMG_9469-400x284.jpg 480w" sizes="(max-width:479px) 479px, 100vw" class="wp-image-134">
					<span class="et_overlay"></span>
				</a>
				</div></div></div></div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_10 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_16">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_25  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_17  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h2>Dates &amp; Price</h2></div>
			</div>
			</div>
				
				
			</div><div class="et_pb_row et_pb_row_17">
				<div class="et_pb_column et_pb_column_1_2 et_pb_column_26  et_pb_css_mix_blend_mode_passthrough">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_18  et_pb_text_align_left et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h4>YTTC Spring 2022</h4>
<h4>Dates for gathering </h4>
<p>(Thursday – Sunday)</p>
<p><span>1st gathering:&nbsp; 3,4,5,6th March </span><br><span>2nd gathering: 31st March, 1,2,3 April</span><br><span>3rd gathering:&nbsp; 28,29,30 April and 1st May</span><br><span>4th gathering:&nbsp; 26,27,28,29th May<br></span></p></div>
			</div>
			</div><div class="et_pb_column et_pb_column_1_2 et_pb_column_27  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_19  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><p>The price is 39000 SEK</p></div>
			</div><div class="et_pb_module dipl_text_animator dipl_text_animator_0">
				
				
				
				
				<div class="et_pb_module_inner">
					<div class="animated_text_wrapper dipl-wave">
				<h2>
				<span class="pre_text_wrapper dipl_pre_post">PREMIERE</span>
				<span class="animated_text dipl_main_part" data-wait-time="2000" data-animation-time="500" data-text="34000 SEK" data-stop-animation-on-hover="off"><span class="dipl-wave-letter in">3</span><span class="dipl-wave-letter in">4</span><span class="dipl-wave-letter behind">0</span><span class="dipl-wave-letter behind">0</span><span class="dipl-wave-letter behind">0</span><span class="dipl-wave-letter behind">&nbsp;</span><span class="dipl-wave-letter behind">S</span><span class="dipl-wave-letter behind">E</span><span class="dipl-wave-letter behind">K</span></span>
				<span class="post_text_wrapper dipl_pre_post">OFFER</span>
				</h2>
			</div>
				</div>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_11 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_18">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_28  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_20  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h4>How to Register for the Training</h4>
<p>To register for the training please send an email or if you have any questions about the training you can make an appointment with Rajesh through Zoom or you are very welcome to our studio. To email please click below.</p></div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_0_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" href="mailto:info@yogashastra.org?Subject=contact%20yogashastra" data-icon="$">Email</a>
			</div>
			</div>
				
				
			</div>
				
				
			</div><div class="et_pb_section et_pb_section_12 et_pb_with_background et_section_regular">
				
				
				
				
					<div class="et_pb_row et_pb_row_19 et_animated" data-animation-style="zoom" data-animation-repeat="" data-animation-duration="1000ms" data-animation-delay="0ms" data-animation-intensity="-5%" data-animation-starting-opacity="0%" data-animation-speed-curve="ease-in">
				<div class="et_pb_column et_pb_column_4_4 et_pb_column_29  et_pb_css_mix_blend_mode_passthrough et-last-child">
				
				
				<div class="et_pb_module et_pb_text et_pb_text_21  et_pb_text_align_center et_pb_bg_layout_light">
				
				
				<div class="et_pb_text_inner"><h2>Frequently Asked Questions</h2></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_14 et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h5 class="et_pb_toggle_title">What is needed to participate in this training?</h5>
				<div class="et_pb_toggle_content clearfix"><p><span>Many people attend these training sessions to learn more about the postures, benefits and alignments for their own bodies and/or to take time to connect to themselves and deepen their yoga practice. Each session typically has a mix of people exploring the possibility of teaching and those seeking personal development.</span></p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_15 et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h5 class="et_pb_toggle_title">Do I need to have more experience to take this training?</h5>
				<div class="et_pb_toggle_content clearfix"><p><span>No. This training is designed to meet you wherever you are in your journey. The prior practice of Yoga is suggested but by no means necessary. People have attended in the past with just a little experience, alongside those who have been practising for many years. The course typically has a nice balance of experience, ages and objectives.</span></p></div>
			</div><div class="et_pb_module et_pb_toggle et_pb_toggle_16 et_pb_toggle_item  et_pb_toggle_close">
				
				
				<h5 class="et_pb_toggle_title">Can I take this training if I do not want to teach yoga?</h5>
				<div class="et_pb_toggle_content clearfix"><p><span>You will leave the course with the knowledge and skills to teach Hatha Yoga classes – and we recommend that you do so. Teacher Training is the very first step on a continuous learning journey to becoming the Yoga teacher you can be, and teaching practice are crucial, as with anything else in life.</span></p></div>
			</div><div class="et_pb_button_module_wrapper et_pb_button_1_wrapper et_pb_button_alignment_center et_pb_module ">
				<a class="et_pb_button et_pb_button_1 et_hover_enabled et_pb_bg_layout_dark" href="mailto:info@yogashastra.org?Subject=contact%20yogashastra">Ask A Question</a>
			</div>
			</div>
				
				
			</div>
				
				
			</div>		</div>