/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Sticky footer styles
-------------------------------------------------- */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Some font styling */

h1 #rubik {
    font-size: 32px;
    color: #B23992;
}

/* Mandala background*/
.mandala {
    background-image: url(/images/mandala6.jpg);
    background-size: cover;
    background-position: 60% 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 1000px;
    position: relative;
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

/* Orange frame around the body */
body {
    padding: 7px;
    margin-bottom: 60px;
    background-color: #febf10;
    color: black;
}

/* Footer style */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    /*padding: 0.5rem 0.5rem 0.5rem 0.5rem;*/
    text-align: center;
    color: white;
    background-color: #B23992;
    /*border-top: .05rem solid #e5e5e5;*/
}

    .footer div {
        color: white;
        text-size-adjust: 150%;
    }

    .footer a {
        color: yellow;
    }


/*login form*/
div.login-form-icon {
    text-align: center;
}


/*Lotus Flower, using a comment and text-align to center the flower*/
.lotus {
    text-align: center;
    display: block;
    bottom: 60px;
    background-color: none;
}

