/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Sticky footer styles
-------------------------------------------------- */

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Yoga - Some font styling */

h1 #rubik {
    font-size: 32px;
    color: #B23992;
}

.card-img-overlay {
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* Written for h4 tag, modify as required */
.card-img-overlay .black-outline {
    -webkit-text-stroke: 1.11px black; /* stroke width and color */
    color: rgb(255, 255, 255);
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
}



/* Mandala background*/
.mandala {
    background-image: url(/images/mandala6.jpg);
    background-size: cover;
    background-position: 60% 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 1000px;
    position: relative;
}

/* Startpage carousel */
@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }

        .carousel-inner .carousel-item > div:first-child {
            display: block;
        }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}

/* Carousel text */
.card-img-overlay{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder;
}
/* Buttons in carousel */
.card-img-overlay .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.card-img-overlay .button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

    .card-img-overlay .button:hover {
        background-color: white;
        color: black;
        border: 2px solid #4CAF50;
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    }


/* End of Homepage carousel */


html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

/* Orange frame around the body */
body {
    padding: 7px;
    margin-bottom: 60px;
    background-color: #febf10;
    color: black;
}

/* Footer style */
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    /*padding: 0.5rem 0.5rem 0.5rem 0.5rem;*/
    text-align: center;
    color: white;
    background-color: #B23992;
    /*border-top: .05rem solid #e5e5e5;*/
}

    .footer div {
        color: white;
        text-size-adjust: 150%;
    }

    .footer a {
        color: yellow;
    }


/*login form*/
div.login-form-icon {
    text-align: center;
}


/*Lotus Flower, using a comment and text-align to center the flower*/
.lotus {
    text-align: center;
    display: block;
    bottom: 60px;
    background-color: none;
}

.btn-primary {
    color: #fff;
    background-color: #AF4D9D !important;
    border-color: #AF4D9D !important;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #9f468e !important;
        border-color: #9f468e !important;
    }

    .btn-check:focus + .btn-primary, .btn-primary:focus {
        color: #fff;
        background-color: #9f468e;
        border-color: #d7a6ce;
        box-shadow: 0 0 0 0.25rem rgb(215,166,206, 0.8);
    }

    .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
        color: #fff;
        background-color: #9f468e !important;
        border-color: #9f468e !important;
    }

        .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.25rem rgb(215,166,206, 0.8) !important;
        }

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #AF4D9D !important;
    border-color: #AF4D9D !important;
}

/*contact page css */
.dbox .icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffc107;
    margin: 0 auto;
    margin-bottom: 20px;
}

.contact-wrap {
    background: #fff;
}

/*.no-gutters {
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 10%) !important;
}*/

.fa-white {
    font-size: 17pt !important;
    color: #fff;
}

.col-md-12-contact {
    padding-bottom: 1.2rem !important;
}
/*contact page css */


a {
    color: #0d6efd;
    text-decoration: none !important;
}